<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="../img/favicon.ico" />

        <!-- Main css link -->
        <link rel="stylesheet" href="../css/style.css" />

        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <!-- Window title -->
        <title>DischiAxios</title>
    </head>
    <body>
        <div id="app">
            <!-- HEADER -->
            <header>
                <div class="container">
                    <div class="logo-wrap">
                        <a href="#">
                            <img src="../img/logo.png" alt="page-logo" />
                        </a>
                    </div>
                </div>
            </header>

            <!-- MAIN -->
            <main>
                <section class="select-wrapper">
                    <label for="authors">Search by authors: </label>
                    <div class="fake-select">
                        <select
                            @change="filteredAlbum"
                            v-model="selectValue"
                            @click="openedSelect = !openedSelect"
                            name="authors"
                            id="select-authors"
                        >
                            <option value="All">All</option>
                            <option
                                v-for="(author,index) in authorsList"
                                :key="index"
                                :value="author"
                            >
                                {{author}}
                            </option>
                        </select>
                    </div>
                    <div :class="!openedSelect ? 'clip' : 'clip closed-clip'"></div>
                </section>
                <section class="cards container flex-wrap justify-center">
                    <div v-for="album in albums" class="row">
                        <div class="card flex-column align-center">
                            <div class="img-wrap">
                                <img :src="album.poster" alt="album-img" />
                            </div>
                            <h2 class="album-title">{{album.title}}</h2>
                            <div class="album-author">{{album.author}}</div>
                            <div class="album-date">
                                <strong>{{album.year}}</strong>
                            </div>
                            <div class="album-genre">{{album.genre}}</div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <!-- JS-Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./main.js"></script>
    </body>
</html>
